body {
    background-color: #A9A9A9;
}

.brand-logo {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: aliceblue;
}

.red-word {
    color: #DC143C;

}

.purple_word {
    color: #8B008B;
}