{% extends "base.html" %} 
{% load i18n %}
{% block title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="container text-center" style="background-color:lightskyblue">
    <h1 class="heading-text" font-family="">{% trans "Log In" %}</h1>
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    <form class="form p-2" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-outline-dark btn-warning mb-2" type="submit">{% trans "Sign In" %}</button>
      <a class="button secondaryAction d-block" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
<style>
  body {
    background-image: url('https://res.cloudinary.com/dmtng0i7p/image/upload/v1709824264/PP4_Restaurant/pexels-vincent-rivaud-2147491_xammm4.jpg');
  }
</style>
{% endblock %}