{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container text-center" style="background-color:lightskyblue">
  <h1 class="heading-text">{% trans "Sign Up" %} </h1>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-outline-dark btn-warning mb-2" type="submit">{% trans "Sign Up" %}</button>
  </form>
</div>
<style>
  body {
    background-image: url('https://res.cloudinary.com/dmtng0i7p/image/upload/c_scale,h_2114,w_2945/v1709829886/PP4_Restaurant/pexels-krisztina-papp-2586924_n6fdms.jpg');
  }
</style>

{% endblock %}
