{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 m-3 g-4">
    {% for reservation in reservations %}
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
        <div class="card manage border border-0 d-flex justify-content-center h-100 mx-2">
            <div class="card-body h-100 mx-2">
                <h4 class="text-center">
                    Booking Name: {{ reservation.name }}
                </h4>
                <div class="card-text">
                    <div class="align-self-center">
                        <p class="mb-2"><strong>Time:</strong>{{ reservation.time }}</p>
                        <p class="mb-2"><strong>Day:</strong> {{ reservation.day }}</p>
                        <p class="mb-2"><strong>Party Size:</strong> {{ reservation.party_size }}</p>
                    </div>
                    <a href="{% url 'update_booking' reservation.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'remove_booking' reservation.id %}" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#deleteMessage">Remove</a>
                    <div class="modal fade" id="deleteMessage" tabindex="-1" aria-labelledby="deleteMessageLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteMessageLabel">Confirm Reservation Deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Delete Reservation ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="mt-2 mb-3 btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <a class="mt-2 mb-3 btn btn-secondary"
                                        href="{% url 'remove_booking' reservation.id %}">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}