{% extends 'base.html' %} {% block content %}

<div class="col s12">      
    <span class="text-body">
        <h3>Welcome to <strong>Galaxy Gourment</strong></h3>
        <p>Food that is <strong>OUT OF THIS WORLD!</strong></p>                
        <p>Our times are below aswell as our menu.</p>
    </span>
</div>

<br>

<div class="row card-panel blue-grey">
    <h3 class="menu-header"><strong>Menu</strong></h3>

    <ul class="list">
        <li>
            <div class="cyan darken-4"><strong>Starter</strong></div>
            <div class="list-item orange darken-3"><p>Garlic Bread</p></div>
            <div class=""><p>Nachos</p></div>
            <div class=""><p>Soup of the Day</p></div>
        </li>
    </ul>
    <ul class="">
        <li>
            <div class="green darken-3"><strong>Mains</strong></div>
            <div class=""><p>Cheese Burger</p></div>
            <div class=""><p>Steak</p></div>
            <div class=""><p>Meat and Potato Pie</p></div>
        </li>
    </ul>
    <ul class="">
        <li>
            <div class="teal darken-4"><strong>Sides</strong></div>
            <div class=""><p>Chips</p></div>
            <div class=""><p>Wedges</span></div>
            <div class=""><p>Curly Chips</p>
        </div>
        </li>
    </ul>
    <ul class="">
        <li>
            <div class="orange darken-3"><strong>Dessert</strong></div>
            <div class=""><p>Apple Pie</p></div>
            <div class=""><p>Strawberry Pudding and Custard</p></div>
            <div class=""><p>Ice Cream</p></div>
        </li>
    </ul>
    <ul class="">
        <li>
            <div class="light-blue accent-4"><strong>Drinks</strong></div>
            <div class=""><p>Beer</p></div>
            <div class=""><p>Wine</p></div>
            <div class=""><p>Pepsi</p></div>
            <div class=""><p>Orange Juice</p>
            </div>
        </li>
    </ul>
</div>


<br />

<div class="col s12 m8 offset-m2 l6 offset-l3">
  <div class="card-panel grey lighten-5 z-depth-1">
    <h3 class="center">Times</h3>
    <div class="container"></div>
    <div class="container center">
      <div class="row">
        <div class="col s1">17:00</div>
        <div class="col s1">17:15</div>
        <div class="col s1">17:30</div>
        <div class="col s1">17:45</div>
        <div class="col s1">18:00</div>
        <div class="col s1">18:15</div>
        <div class="col s1">18:30</div>
        <div class="col s1">18:45</div>
        <div class="col s1">19:00</div>
        <div class="col s1">19:15</div>
        <div class="col s1">19:30</div>
        <div class="col s1">19:45</div>
        <div class="col s1">20:00</div>
        <div class="col s1">20:15</div>
        <div class="col s1">20:30</div>
        <div class="col s1">20:45</div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
