{% extends 'base.html' %} 
{% block content %}

    <div class="header">      
        <div class="text-body">
            <h3>Welcome to <strong>Galaxy Gourment</strong></h3>
            <p>Food that is <strong>OUT OF THIS WORLD!</strong></p>                
            <p>Our menu, aswell as our reservation times, are below.</p>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            <h4 class="mx-auto" style="width: 200px"><strong>Menu</strong></h4>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="starter">       
            <h3 class="mx-auto" style="width: 200px"><strong>Starter</strong></h3>
            <div class="mx-auto" style="width: 150px"><p>Garlic Bread</p></div>
            <div class="mx-auto" style="width: 150px"><p>Nachos</p></div>
            <div class="mx-auto" style="width: 150px"><p>Soup of the Day</p></div>        
        </div>
        <div class="mains">        
            <h3 class="mx-auto" style="width: 200px"><strong>Mains</strong></h3>
            <div class="mx-auto" style="width: 150px"><p>Cheese Burger</p></div>
            <div class="mx-auto" style="width: 150px"><p>Steak</p></div>
            <div class="mx-auto" style="width: 150px"><p>Meat and Potato Pie</p></div>
        </div>
        <div class="sides">        
            <h3 class="mx-auto" style="width: 200px"><strong>Sides</strong></h3>
            <div class="mx-auto" style="width: 150px"><p>Chips</p></div>
            <div class="mx-auto" style="width: 150px"><p>Wedges</p></div>
            <div class="mx-auto" style="width: 150px"><p>Curly Chips</p></div>  
        </div>
        <div class="desserts">      
            <h3 class="mx-auto" style="width: 200px"><strong>Dessert</strong></h3>
            <div class="mx-auto" style="width: 150px"><p>Apple Pie</p></div>
            <div class="mx-auto" style="width: 150px"><p>Strawberry Pudding and Custard</p></div>
            <div class="mx-auto" style="width: 150px"><p>Ice Cream</p></div>   
        </div>
        <div class="drinks">        
            <h3 class="mx-auto" style="width: 200px"><strong>Drinks</strong></h3>
            <div class="mx-auto" style="width: 150px"><p>Beer</p></div>
            <div class="mx-auto" style="width: 150px"><p>Wine</p></div>
            <div class="mx-auto" style="width: 150px"><p>Pepsi</p></div>
            <div class="mx-auto" style="width: 150px"><p>Orange Juice</p></div>
        </div>
    </div>

    <br>

    <div class="times">
    <h3 class="mx-auto" style="width: 200px">Times</h3>
        <div class="container">
            <div class="col s12">
                <div class="row">
                    <span class="border border-dark col s1">17:00</span>
                    <span class="border border-dark col s1">17:15</span>
                    <span class="border border-dark col s1">17:30</span>
                    <span class="border border-dark col s1">17:45</span>
                    <span class="border border-dark col s1">18:00</span>
                    <span class="border border-dark col s1">18:15</span>
                    <span class="border border-dark col s1">18:30</span>
                    <span class="border border-dark col s1">18:45</span>
                    <span class="border border-dark col s1">19:00</span>
                    <span class="border border-dark col s1">19:15</span>
                    <span class="border border-dark col s1">19:30</span>
                    <span class="border border-dark col s1">19:45</span>
                    <span class="border border-dark col s1">20:00</span>
                    <span class="border border-dark col s1">20:15</span>
                    <span class="border border-dark col s1">20:30</span>
                    <span class="border border-dark col s1">20:45</span>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!--Footer-->
    <footer>
        <div class="footer">
            <div>
                <ul class="socials">
                    <li>
                        <a href="http://facebook.com" target="_blank" rel="noopener"><i
                                class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="http://twitter.com" target="_blank" rel="noopener"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://instagram.com" target="_blank" rel="noopener"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="http://youtube.com" target="_blank" rel="noopener"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <style>
        body {
        background-image: url('https://res.cloudinary.com/dmtng0i7p/image/upload/c_scale,h_2344,w_2024/v1709827249/PP4_Restaurant/pexels-foodie-factor-551991_pwrvfj.jpg');
        }
    </style>
{% endblock content %}
